<main class="challenge-container">
  <% if !@completed_challenges.empty?%>
    <h1 class="profile-page-title">Your badges</h1>
    <div class="challenges-container">
      <% @completed_challenges.each do |card| %>
        <div class="challenge-card">
          <% if card[:challenge].badge.attached?%>
            <%= image_tag(card[:challenge].badge, class: "profile-page-badge")%>
          <% end %>
          <h3><%= card[:challenge].title %></h3>
          <%= button_to "Activity log", "/completed-challenge-activity-log/#{card[:id]}", method: :get, class:"view-activity-log-button", id: "view-activities-challenge-#{card[:id]}" %>
        </div>
      <% end%>
    </div>
  <%else%>
    <div class="no-challenge-container">
      <%= image_tag "empty-trophy-case.png", class: "trophy-case", alt: "empty-trophy-case" %>
      <h3> Looks a little empty here, complete a challenge to show off your badges</h3>
      <%if current_user.active_challenge.nil?%>
        <%= button_to "Find a challenge", '/', method: :get, class:"find-challenge-button" %>
      <%else%>
        <%= button_to "Go to active challenge", '/', method: :get, class:"find-challenge-button" %>
      <%end%>
    </div>
  <%end%>
</main>