<section class="sign-in-page">
   <h1 class="sign-in-header">Sign in</h1>
   <%= form_tag '/sign-in' do %>
      <%= label_tag :username %><br>
      <%= text_field_tag :username, params[:username], :required => true, class:"sign-in-input" %><br>
      <%= label_tag :password %><br>
      <%= password_field_tag :password, params[:password], :required => true, class:"sign-in-input" %>
      <%= submit_tag "Sign in", class:"sign-in-button sign-in-page-button"%>
      <%= render partial: 'partials/flashes' %>
   <%end%>
   <p>Don't have an account?</p>
   <%= button_to "Sign up", '/sign-up', method: :get, class:"sign-up-button sign-up-page-button" %>
</section>

