<%= render partial: 'partials/flashes'%>
<main class="challenge-container">
  <h1 class="active-challenge-page-title">Active Challenge</h1>
  <div class="active-challenge-details">
    <div class="active-challenge-heading">
      <div>
      <% if @challenge.icon.attached?%>
        <%= image_tag(@challenge.icon, class: "challenge-icon")%>
      <%end%>
      </div>
      <h2 class="challenge-title"><%= @challenge.title%></h2> 
    </div>
    <div class="active-challenge-rows">
      <div class="active-challenge-row">
        <p>Total distance: </p> 
        <p id="total-distance"><%= @challenge.distance%> miles</p>
      </div>
      <div class="active-challenge-row">
        <p>Current distance: </p> 
        <p id="current-distance"><%= @active_challenge.current_distance%> miles</p>
      </div>
      <div class="active-challenge-row">
        <p>Remaining distance: </p>
        <p id="remaining-distance"><%= @remaining_distance %> miles</p>
      </div>
    </div>
    <div class="add-distance-container">
      <%= button_to "Add activity", "/add-activity/#{@active_challenge.id}", method: :get, class: "add-distance-button" %>
      <%if !current_user.strava_athlete_id.nil?%>
        <%= button_to "Sync Strava", "/strava/sync_activties/#{@active_challenge.id}", method: :get, class: "add-distance-button" %>
      <%end%>
    </div>
    <% if !@activities.nil? %>
      <div class="activities-container" id="activities">
        <h2 class="activities-heading">Activities</h2>
        <% @activities.each do |activity| %>
          <hr class="activity-ruler">
          <div class="activity-details-container">
            <div class="activity-details">
              <div>
                <h3 class="activity-title"><%= activity.name %></h3>
                <p class="activity-distance">Distance: <%= activity.distance %> miles</p>
                <p class="activity-time">Logged: <%= activity.created_at.strftime("%H:%M - %d %b %Y") %></p>
              </div>
              <div class="activity-map-container">
              <% if activity.activity_map.attached?%>
                <a class="activity-map-link-wrapper" href=<%=url_for(activity.activity_map)%>><%= image_tag(activity.activity_map, class: "activity-map", title: "click to enlarge")%></a>
              <%end%>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>
</main>
