<main class="challenge-container">
  <h1 class="active-challenge-header">Active Challenge</h1>
  <div class="challenge-details">
    <div class="challenge-heading">
      <% if @challenge.icon.attached?%>
        <%= image_tag(@challenge.icon, class: "challenge-icon")%>
      <%end%>
      <h2 class="challenge-title"><%= @challenge.title%></h2> 
    </div>
    <div class="active-challenge-rows">
      <div class="active-challenge-row">
        <p>Total distance: </p> 
        <p><%= @challenge.distance%> miles</p>
      </div>
      <div class="active-challenge-row">
        <p>Current distance: </p> 
        <p><%= @active_challenge.current_distance%> miles</p>
      </div>
      <div class="active-challenge-row">
        <p>Remaining distance: </p>
        <p><%= @remaining_distance %> miles</p>
      </div>
    </div>
    <div class="add-distance-container">
      <%= form_tag  '/add-distance' do |form| %>
        <%= hidden_field_tag :active_challenge_id, params[:active_challenge_id], value: @active_challenge.id %>
        <%= submit_tag "Add distance", class:"add-distance-button"%>
      <% end %>
    </div>
  </div>
</main>
