 <div class="add-distance-container">
  <div class="add-distance-details">
    <div class="active-challenge-heading">
      <div>
      <% if @challenge.icon.attached?%>
        <%= image_tag(@challenge.icon, class: "challenge-icon")%>
      <%end%>
      </div>
      <h2 class="challenge-title"><%= @challenge.title%></h2> 
    </div>
    <p class="add-distance-text">How far did you go?</p>


    <%= form_for @activity, url: "/add-activity", class: "add-distance-form" do |f|%>
      <%= f.label :name%>
      <%= f.text_field :name, :required => true, class:"distance-input"  %>
      <%= f.label :distance%>
      <%= f.number_field :distance, :required => true,  placeholder:"0.00", step: :any, min: "0.00", class:"distance-input" %>
      <span class="add-distance-text">miles</span>
      <%= f.hidden_field :active_challenge_id, value: @active_challenge_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit 'Add activity', class:"sign-up-button sign-up-page-button" %>
    <%end%>




    <%= form_tag  '/update-distance', class: "add-distance-form" do |form| %>
      <div class="distance-input-container">
        <%= label_tag :distance, "Distance:", class:"add-distance-text"%>
        <%= number_field_tag :distance, params[:distance], :required => true, step: :any, class: "distance-input", placeholder:"0.00" %>
        <span class="add-distance-text">miles</span>
      </div>
      <%= hidden_field_tag :active_challenge_id, params[:active_challenge_id], value: @active_challenge_id %>
      <%= submit_tag "Add distance", class:"update-distance-button"%>
    <% end %>
  </div>
</div>