<main class="challenge-container">
    <div class="active-challenge-details">
      <div class="activities-container" id="activities">
        <%= button_to "Back", "/profile", method: :get, class:"back-button" %>
          <div class="completed-challenge-heading">
      <div>
      <% if @parent_challenge.icon.attached?%>
        <%= image_tag(@parent_challenge.icon, class: "challenge-icon")%>
      <%end%>
      </div>
      <h2 class="challenge-title"><%= @parent_challenge.title%></h2> 
    </div>
          <h2 class="activities-heading">Activities</h2>
          <%@completed_challenge.activities.each do |activity|%>
            <hr class="activity-ruler">
            <div class="activity-details-container">
              <div class="activity-details">
                <div>
                  <h3 class="activity-title"><%= activity.name %></h3>
                  <p class="activity-distance">Distance: <%= activity.distance %> miles</p>
                  <p class="activity-time">Logged: <%= activity.created_at.strftime("%H:%M - %d %b %Y") %></p>
                </div>
                <div class="activity-map-container">
                <% if activity.activity_map.attached?%>
                  <a class="activity-map-link-wrapper" href=<%=url_for(activity.activity_map)%>><%= image_tag(activity.activity_map, class: "activity-map", title: "click to enlarge")%></a>
                <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
    </div>
</main>