<section class="navbar">
  <% if logged_in? %>
    <a href="/homepage"><%= image_tag "sprint-logo-3.png", class: "logo", alt: "logo" %></a>
      <div class="navbar-profile">
        <a href="/profile">
          <p id="current_user"> <%= current_user.username %></p>
          <% if current_user.profile_image.attached? %>
            <img id="user-upload" class="profile_image" src="<%=(url_for(current_user.profile_image))%>">
          <%else%>
            <img class="profile_image" src="https://mir-s3-cdn-cf.behance.net/user/230/d2e2ae163095399.60c76948a2fc7.png">
          <%end%>
        </a>
       
        <%= button_to "Sign out", '/sign-out', method: :get, class:"sign-out-link" %>
      </div>
  <% else %>
     <a href="/homepage"><%= image_tag "sprint-logo-3.png", class: "logo", alt: "logo" %></a>
  <% end %>      
</section>